.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  flex-wrap: wrap;
}

.message {
  position: relative;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  box-sizing: border-box;
  margin: 1rem auto 2rem auto;
  text-align: center;
  background-color: #393e46;
  color: #32e0c4;
  flex-grow: 1;
}

p {
  padding-top: 30px;
  font-size: smaller;
}

.button {
  font-size: small;
  width: 150px;
  height: 50px;
  position: absolute;
  right: 1px;
  bottom: 1px;
  box-sizing: border-box;
}

.buttonText {
  font-size: smaller;
  padding: 0;
  margin: 0;
}

div.card {
  background-color: #32e0c4;
}
