:root {
  color: #438a5e;
}

body {
  background-image: url("/images/ufobackground.png");
}


.jumbotron {
  background-color: #bac964;
  color: #438a5e;
}

.newpost {
  background-color: #bac964;
  color: #438a5e;
}

button {
  background-color: #436f8a;
}
