@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  color: #438a5e;
}

body {
  background-image: url("/images/ufobackground.png");
}

.jumbotron {
  background-color: #11999e;
  color: #e4f9f5;
  font-family: "Major Mono Display", monospace;
}

.newpost {
  background-color: #11999e;
  color: #e4f9f5;
}

button {
  background-color: #436f8a;
}
