@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  color: #438a5e;
}

body {
  background-image: url("/images/ufobackground.png");
  font-family: "Major Mono Display", monospace;
}

.jumbotron {
  background-color: #393e46;
  color: #32e0c4;
  font-family: "Major Mono Display", monospace;
}

.newpost {
  background-color: #393e46;
  color: #32e0c4;
}

button {
  background-color: #436f8a;
}
